* {
    margin: 0;

    box-sizing: border-box;
} /* Header */
ol h1 {
    color: rgb(73, 62, 66);
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}
body {
    font-family: "Libre Franklin", sans-serif;
    font-family: "Open Sans", sans-serif;
    font-family: "Poppins", sans-serif;
}
a {
    color: rgb(49, 46, 46);
    font-size: 20px;
}
.background {
    width: auto;
    height: auto;
    background-image: url(./pink-1.jpg);
    border-radius: 200px;
}
/* 
/* Assignments */
/* .assignments {
    display: flex;
    margin-top: 25px;
    gap: 30px;
}
.assignment-1 {
    background-color: #bbd0fb;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    text-align: center;
    margin-left: 300px;
}
.assignment-2 {
    background-color: #f6d4ee;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    text-align: center;
}
.assignment-3 {
    background-color: #c8b6ff;
    width: 300px;
    height: 200px;
    border-radius: 25px;
    text-align: center;
}

.assignment-4 {
    background-color: #e7c6ff;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    text-align: center;
    margin-left: 250px;
}

.assignment-5 {
    background-color: #ffd6ff;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    text-align: center;
}
.assignment-6 {
    background-color: #c2c4f1;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    text-align: center;
}
.assignment-7 {
    background-color: #daa5ec;
    width: 200px;
    height: 150px;
    border-radius: 25px;
    text-align: center;
}
.assignment-8 {
    border-radius: 25px;
    text-align: center;
    width: 300px;
    height: 250px;
    background-color: #f6d4ee;
    margin-left: 500px;
    margin-top: 20px;
} */
